* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --activeContainerQuestionColor: hsl(238, 29%, 16%);
    --hoverQuestionColor: hsl(14, 88%, 65%);
    --backgroundGradient: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    --questionColor: hsl(237, 12%, 33%);
    --answerColor: hsl(240, 6%, 50%);
    --fontSize: 12px;
    font-family: "Kumbh Sans";
    --fontWeight1: 400;
    --fontWeight2: 700;
    --dividerColor: hsl(240, 5%, 91%);
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: var(--backgroundGradient);
}

.attribution {
    position: fixed;
    bottom: 5%;
    display: none;
}

main {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1.5em;
    justify-content: center;
    height: 500px;
    width: 900px;
    box-shadow: 0px 20px 50px hsl(266, 69%, 28%);
}

main section {
    height: 100%;
    width: 50%;
}

.faq {
    overflow: hidden;
}

.container {
    font-size: var(--fontSize);
    border-bottom: 1px solid var(--dividerColor);
    padding-top: 1em;
}

.content {
    padding-right: 6em;
}

.question {
    color: var(--questionColor);
}

.question:hover {
    color: var(--hoverQuestionColor);
    cursor: pointer;
}

.answer {
    color: var(--answerColor);
    padding-bottom: 1rem;
    font-size: 11px;
}

h1 {
    font-weight: var(--fontWeight2);
    margin-bottom: 1.7rem;
    padding-top: 2.2em;
    font-size: 2em;
}

.image {
    position: relative;
    background: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 185%;
    background-position-x: -28.2em;
    background-position-y: -13em;
}

.box {
    position: absolute;
    top: 12em;
    left: -5.7em;
    z-index: 2;
}

.women-container {
    overflow: hidden;
    height: 100%;
    padding-top: 4.5em;
}

.women {
    display: block;
    width: 100%;
    height: 80%;
    transform: translateX(-70px);
}

.container summary {
    list-style-image: url(images/icon-arrow-down.svg);
    direction: rtl;
    position: relative;
    /*The trick*/
}

.container summary p {
    direction: ltr;
    background-color: red;
    transform: translateY(-100%);
    background: transparent;
}

details[open]>summary {
    font-weight: var(--fontWeight2);
}


@media screen and (min-width: 200px) and (max-width: 875px) {

    body {
        padding: 10em 1em;
    }

    main {
        flex-direction: column;
        width: 330px;
        height: 530px;
        position: relative;
        padding-left: 1.7em;
        padding-right: 1.7em;
    }

    .faq {
        transform: translateY(-6.5em);
    }

    .container {
        flex-direction: column;
        margin-top: 1em;
    }

    span {
        left: 95%;
    }

    .content {
        padding: 0;
    }

    .faq h1 {
        font-size: 2em;
        text-align: center;
        padding-top: 0;
        margin-bottom: 1em;
    }

    main section {
        width: 100%;
        height: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .image {
        transform: translateY(-7.5em);
        background-image: url(images/bg-pattern-mobile.svg);
        background-size: 95%;
        background-position: 0.2em 11.2em;
    }

    .women-container {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        padding-bottom: 2.5em;
    }

    .women {
        height: 100%;
        width: 90%;
        transform: none;
    }

    .box {
        height: 35%;
        width: 35%;
        left: 0.5em;
        top: 6.5em;
    }
}